<div class="fifth-section section">
	<div class="fifth-section-header">
   <h1>СВОБОДНЫЕ ПОМЕЩЕНИЯ</h1> 
  </div>
	<div class='slider-wrap'>
    <div class='slider'>
      <ul>
     <% @offices.each do |office| %>
		 <li>
		 	<div class="item">
				<div class="slider-text-block">
					<h5 class="text-left"><%= office.cost %></h5>
					<p class="text-left"><%= office.description %></p>
				</div>
 				<%= image_tag office.image.url, class:"slider-image" %>
		 	</div>
		 </li>
		 <% end %>
</ul>
</div>
<a class='slider-arrow sa-left' href='#'>
  <!-- <i class='fa fa-angle-left'></i> -->
  <%= image_tag "fifth/button-back.svg", class: "fa fa-angle-left" %>
</a>
<a class='slider-arrow sa-right' href='#'>
  <!-- <i class='fa fa-angle-right'></i> -->
  <%= image_tag "fifth/button-forward.svg", class: "fa fa-angle-right" %>
</a>
</div>
</div>
