<div class="section section-fourth">
  <div class="section-fourth-content">
    <h1>УСЛУГИ</h1>
    <div class="flex flex-1">
      <div class="flex-block">
        <%= image_tag "fourth/lightbulb.svg" %>
        <div class="flex-block-text">
          <p class="text-center">Новые помещения с евроремонтом</p>
        </div>
      </div>
      <div class="flex-block">
        <%= image_tag "fourth/money.svg" %>
        <div class="flex-block-text">
          <p class="text-center">Гибкая система скидок</p>
        </div>
      </div>
      <div class="flex-block">
        <%= image_tag "fourth/calender.svg" %>
        <div class="flex-block-text">
          <p class="text-center">Возможность аренды на длительный срок</p>
        </div>
      </div>
      <div class="flex-block">
        <%= image_tag "fourth/car-bug.svg" %>
        <div class="flex-block-text">
          <p class="text-center">Открытый охраняемый паркинг на 100 мест</p>
          
        </div>
      </div>
      <div class="flex-block">
      <%= image_tag "fourth/map-three.svg" %>
        <div class="flex-block-text">
          <p class="text-center">Развитая инфраструктра</p>
        </div>
      </div>
      <div class="flex-block">
        <%= image_tag "fourth/ribbon-star.svg" %>
        <div class="flex-block-text">
          <p class="text-center">Вывеска в холле с логотипом компании</p>
        </div>
      </div>
    </div>
  </div>  
</div>







