<div class="section section-third">
	<h1>ИНФРАСТРУКТУРА</h1>
	<ul class="flex-1">
		<li class="hovereffect">
			<%= image_tag "flex-1.png", class:"img-responsive" %>
			<div class="overlay">
           <h2>Hover effect 1</h2>
           <p>Lorem ipsum dolor sit amet.</p>
        </div>
		</li>
		<li class="hovereffect">
			<%= image_tag "flex-2.png", class:"img-responsive" %>
			<div class="overlay">
           <h2>Hover effect 1</h2>
           <p>Lorem ipsum dolor sit amet.</p>
        </div>
		</li>
	</ul>
	<ul class="flex-2">
		<li class="hovereffect">
			<%= image_tag "flex-3.png", class:"img-responsive" %>
			<div class="overlay">
           <h2>Hover effect 1</h2>
        </div>
		</li>
		<li class="hovereffect">
			<%= image_tag "flex-4.png", class:"img-responsive" %>
			<div class="overlay">
           <h2>Hover effect 1</h2>
        </div>
		</li>
		<li class="hovereffect">
			<%= image_tag "flex-5.png", class:"img-responsive" %>
			<div class="overlay">
           <h2>Hover effect 1</h2>
        </div>
		</li>
		<li class="hovereffect">
			<%= image_tag "flex-6.png", class:"img-responsive" %>
			<div class="overlay">
           <h2>Hover effect 1</h2>
        </div>
		</li>
	</ul>
</div>