<% if logged_in? %>
<% redirect_to comments_path %>
<% else %>
<div class="row">
  <div class="login-window col-md-4 col-md-offset-4">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label "Логин" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label "Пароль" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Подтвердить",class: "login-submit" %>
    <% end %>
  </div>
</div>
<% end %>
