<% if logged_in? %>
<div class="cms-wrap-2">
  <div class="row">
    <div class="left col-lg-7">
      <div class="cms-heading">
        <h1>44 CENTER</h1>
        <p id="notice"><%= notice %></p>
        <h2>Система заявок и отзывов для арендаторов</h2>
        <p>Здесь Вы можете оставить заявки, отзывы и предложения. Компания 44 Centre постараеться отреагировать на них в ближайший срок.</p>
      </div>
      <div class="table">
        <div class="table-headings">
          <div class="row">          
            <div class="col-lg-12">
            	<h3 style="font-family: PDF-Medium;">Последние заявки</h3>
            </div>
          </div>
        </div>
        <%@comments.each do |comment| %>      
        <div class="row comment-headings">
          <div class="col-lg-4">
            <p class="small-table-heading"><%= comment.username %> <span><%= comment.title %></span></p>
          </div>
          <div class="col-lg-4 col-lg-offset-4">
            <p class="text-right"><%= comment.created_at %></p>
          </div>
        </div>
        <div class="table-body table-comments">
          <div class="table-element">
            <p><%= comment.context %></p>
          </div>
        </div>
        <%@microposts = comment.microposts%>
        <%@microposts.each do |micropost|%>
        <div class="table-body table-comments" style="width: 70%; float:right;">
          <div class="table-element">
            <p><%= micropost.content %></p>
          </div>
        </div>
        <%end%>
        <%end%>
      </div>
    </div>
    <div class="right col-lg-5">
      <h3 style="text-align: right; color:white; font-family: PDF-Medium;">
        <%= link_to "Выйти", logout_path, method: "delete" %>
        <% if admin? %>
        <%= link_to "Офисы", offices_path %>
        <% end %>
      </h3>
      <h1>Добавить новую заявку</h1>
      <%= form_for @comment do |f| %>
      <div class="form-group">
        <h2>ФИО</h2>
        <%= f.text_field :username, class: "form-control" %>
      </div>
      <div class="form-group">
        <h2>Компания</h2>
        <%= f.text_field :title, class: "form-control" %>
      </div>    
      <div class="form-group">
        <h2>Описание</h2>
        <%= f.text_field :context, class: "form-control" %>
      </div>
      <div class="actions">
        <%= f.submit "Оставить заявку"%>
      </div>
      <% end %>
    </div>
  </div>
</div>
<% else %>
<h1>You're not allowed to this page</h1>
<% end %>