<p>
  <strong>Title:</strong>
  <%= @comment.title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @comment.username %>
</p>
<p>
  <strong>Text:</strong>
  <%= @comment.context %>
</p>

<%= form_for(@micropost) do |f| %>
	<div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <%= f.hidden_field :comment_id, :value => current_comment.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to "Back", comments_path %>
